.top-bar.navbar
  .container
    = link_to '/', class: 'brand-link' do
      = image_tag 'logo.png'
    %ul.navbar-menu
      %li
        = link_to 'RSVP', '/rsvp'
      %li
        = link_to 'Events', '/events'
      %li
        = link_to 'Travel', '/travel'
      %li
        = link_to 'Our Story', '/our-story'
      %li
        = link_to 'Key People', '/key-people'
      %li
        = link_to 'Photos', '/photos'
